@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,400&display=swap");
body {
  background-color: #436b95;
  font-family: "Lato", sans-serif;
}

.header {
  background: rgba(255, 255, 255, 0.475);
  height: 8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bold;
  margin-bottom: 2rem;
}
.header__logo {
  margin-left: 1rem;
  width: 150px;
  height: 80%;
  border-radius: 5%;
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #fff;
}
.nav__link--active {
  color: #fff;
}
.nav__link--active:hover {
  cursor: default;
  color: #436b95;
}
.nav__link a:hover {
  color: #436b95;
}

.film {
  margin-top: 1rem;
  height: 100%;
  position: relative;
}
.film__header {
  width: auto;
}
.film__container {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
.film__container--keys {
  position: absolute;
  cursor: pointer;
  height: 60px;
  width: 60px;
  margin-top: -65px;
}
.film__container--rightBtn {
  margin-right: 3rem;
  right: 0;
  opacity: 5;
  transform: rotate(0deg);
}
.film__container--rightBtn:hover {
  transform: rotate(0deg) scale(1.2);
  opacity: 1;
}
.film__container--leftBtn {
  margin-left: 3rem;
  left: 0;
  opacity: 5;
  transform: rotate(180deg);
}
.film__container--leftBtn:hover {
  transform: rotate(180deg) scale(1.2);
  opacity: 1;
}
.film__content {
  width: 30vw;
  height: 45vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.film__block {
  background-color: rgba(255, 255, 255, 0.475);
}

.title {
  text-align: center;
}
.title__genre {
  padding-top: 3rem;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
}
.title__category {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.img__category {
  width: 200px;
  height: 300px;
}

.top-film__img {
  width: 30%;
  height: 60vh;
  margin: 1rem;
}
.top-film__container {
  background: rgba(255, 255, 255, 0.475);
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}
.top-film__data {
  margin: 5rem;
  width: 50%;
  height: 100%;
  text-align: center;
}
.top-film__title {
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 30px 30px;
  margin: 10px;
}
.btn__info {
  background-color: gray;
  color: #fff;
}
.btn:hover {
  background-color: #436b95;
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.modal__data {
  display: flex;
  justify-content: center;
}
.modal__data--details {
  padding-left: 4rem;
}
.modal__data--img {
  width: 35vw;
}
.modal__close {
  color: gray;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
}
.modal__close:hover, .modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
